html {
  color-scheme: light dark;
  background-color: canvas;
  color: canvastext;
}

body {
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding: 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

html {
  --color-accent: oklch(40% 0.1 270); /* Navy blue */
  accent-color: var(--color-accent);
}

nav ul,
nav li {
  display: contents;
}

nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid;
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}


nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  transition: border-bottom 0.2s ease;
}

nav a.current {
  border-bottom: 0.4em solid oklch(90% 3% 200);
  padding-bottom: 0.1em;
  font-weight: bold;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  margin-bottom: 2rem;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

form input,
form textarea,
form button {
  font: inherit;             
  box-sizing: border-box;
  padding: 0.5em;
  border: 1px solid oklch(85% 3% 200);
  border-radius: 0.25em;
}

form input,
form textarea {
  width: 100%;
  grid-column: 2;
}

form button {
  padding: 0.75em 1.5em;
  background-color: var(--color-accent);
  color: white;
  border: none;
  border-radius: 0.25em;
  grid-column: 1 / -1;
  justify-self: start;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1.5em;
  margin-top: 2rem;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects h2 {
  margin: 0;
}

.projects img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 400%;
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

.project-year {
  color: gray;
  font-family: Baskerville, serif;
  font-variant-numeric: oldstyle-nums;
}