body {
  max-width: 100ch;
  margin-inline: auto;
  padding: 1rem;}
nav ul,
nav li {
  display: contents;
}
nav {
  display: flex;
}
nav {
  display: flex;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;  
  color: inherit;         
  text-align: center;        
  padding: 0.5em;         
}

nav a.current {
  border-bottom: 0.4em solid oklch(90% 3% 200); 
  padding-bottom: 0.1em;                        
  font-weight: bold;                          
}


html {
  --color-accent: oklch(40% 0.1 270); 
  accent-color: var(--color-accent);
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em; 
}

